<!-- # ///////////////////////////////////////////////////////////////////////////
# // File Name: list_files2.html
# // Group Number: 5
# // Group Members Names : Anthony, Vinh
# // Group Members Seneca Email : asamen@myseneca.ca, vmdang@myseneca.ca
# // Date : 2024-11-20
# // Authenticity Declaration :
# // I declare this submission is the result of our group work and has not been
# // shared with any other groups/students or 3rd party content provider. This submitted
# // piece of work is entirely of my own creation.
# ////////////////////////////// -->

<!DOCTYPE html>
<html>
<head>
    <title>Your Uploaded Files</title>
</head>
<body>
    <h1>Your Uploaded Files</h1>
    {% if user.is_authenticated %}
        <ul>
            {% for file in files %}
                {% if file.owner == user %}
                    <li>
                        File Name: {{ file.name }} <br>
                        File ID: {{ file.id }}
                        <a href="{% url 'download_file' file.id %}">Download</a>
                    </li>
                {% endif %}
            {% empty %}
                <p>You haven't uploaded any files yet.</p>
            {% endfor %}
        </ul>

        <div class="content-section">
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-light">Back to home</button>
            </form>
        </div>

    {% else %}
        <p>Please log in to view your uploaded files.</p>
    {% endif %}
</body>
</html>