<!-- # ///////////////////////////////////////////////////////////////////////////
# // File Name: upload_success.html
# // Group Number: 5
# // Group Members Names : Anthony, Vinh
# // Group Members Seneca Email : asamen@myseneca.ca, vmdang@myseneca.ca
# // Date : 2024-11-20
# // Authenticity Declaration :
# // I declare this submission is the result of our group work and has not been
# // shared with any other groups/students or 3rd party content provider. This submitted
# // piece of work is entirely of my own creation.
# ////////////////////////////// -->

{%extends "base.html"%}
{% block content %}

<p>File uploaded successfully! <a href="/upload/">Upload another file?</a></p>
<a href="/view_file/">View uploaded file</a>


{% endblock content %}